/* Add image and change bg color */
    .title-slide {
        background-image: url(images/upna.jpg);
        background-position: 9% 15%;
        background-size: 105px;
        background-color: #fff;
            padding-left: 100px;  /* delete this for 4:3 aspect ratio */
    }
    
/* Add white link */
    .alternativo {color: #FFFFFF;}
   .link-blanco {color: white; text-decoration: none;}